body {
    font-size: 70%;
}

#grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-color: rgb(40, 40, 40);
}

#toolbar {
    opacity: .85;
    display: table-row;
    float: left;
}
#toolbar > * {
    display: table-cell;
    padding-right: 1em;
}
#speed, #scale {
    width: 5em;
}
#speedslider, #zoomslider {
    margin-right: -.3em;
}

.ui-menu {
    position: absolute;
    width: 12em;
}

#stats {
    float: right;
}
#stats > span {
    float: right;
    clear: right;
    text-align: right;
    padding: .2em .8em;
    color: #d0d0d0;
    cursor: default;
    font-size: 1.3em;
    font-family: Consolas, Courier;
}
